{% extends "zaposlenici/base.html" %} {% block content %}

<div class="container mt-4">
  <div class="row">
    <div class="col-sm mt-5">
      <h2>HR Baza: Vaša centralna baza podataka za uposlenike</h2>
      <p>
        HR Baza je intuitivna aplikacija za upravljanje podacima o
        zaposlenicima, prilagođena brzom i efikasnom vođenju ljudskih resursa.
        Sve što vam je potrebno - od regrutacije i selekcije do praćenja radnih
        performansi i internih komunikacija, sve na jednom mjestu. HR Baza čini
        upravljanje timom lakim i učinkovitim.
      </p>
      <p><strong>Autor: Nermin Mašinović</strong></p>
      <p>E-mail: nermin.masinovic@velikakladusa.gov.ba</p>
    </div>
  </div>
</div>
{% endblock %}
