{% extends "zaposlenici/base.html" %} {% block content %}

<div class="container mt-4">
  <div class="row">
    <div class="col-sm mt-5">
      <h2>Kabinet načelnika</h2>
      <p>
        Za vršenje stručnih i drugih poslova od značaja za rad Općinskog načelnika, obrazuje se Kabinet Općinskog načelnika koji ima status samostalne organizacione jedinice. </p>

       <p>U Kabinetu Općinskog načelnika vrše se savjetodavni, stručni i drugi poslovi od značaja za rad Općinskog načelnika koji se odnose na: 
      </p>
      <ul>
        <li>vođenje protokolarnih poslova uključujući vođenje dnevnih planova, sastanaka i obaveza Općinskog načelnika, </li>
        <li>pripremu sjednica Savjeta Općinskog načelnika i praćenje realizacije njegovih zaključaka, 
        </li>
        <li>utvrđivanje, uz učešće rukovodilaca osnovnih organizacionih jedinica, nacrta i prijedloga akata koje donosi Općinski načelnik ili ih predlaže Općinskom vijeću, 
        </li>
        <li>praćenje i realizaciju odluka i zaključaka Općinskog vijeća koji se odnose na obaveze Općinskog načelnika,
        </li>
        <li>praćenje realizacije izvršenja strateških ciljeva razvoja Općine,</li>
        <li>koordiniranje rada rukovaoca plana odbrane Općinskog organa uprave i mjesnih zajednica, poslova civilne zaštite, odnosno zaštite i spašavanja ljudi i materijalnih dobara, 
        </li>
        <li>uspostavu saradnje sa višim nivoima vlasti, Policijskom upravom, međunarodnim organizacijama i drugim subjektima u pitanjima koja se tiču rada Općinskog načelnika, 
        </li>
        <li>organizaciju prijema predstavnika domaćih i stranih organizacija, privrednih društava, vladinih i nevladinih te drugih organizacija i građana,
        </li>
        <li>izradu javnih saopćenja o pitanjima koja odredi Općinski načelnik,
        </li>
        <li>organizaciju pozivanja medija i prezentaciju zvaničnih informacija na press konferencijama ili u drugoj formi i
        </li>
        <li>drugi poslovi po nalogu Općinskog načelnika. 
        </li>
      <p>
        Kabinet Općinskog načelnika čine: savjetnici Općinskog načelnika, šef kabineta i administrativno-tehnički sekretar.


      </p>
      <p>Radom kabineta Općinskog načelnika rukovodi šef kabineta.</p>
      <p>Šef kabineta i uposlenici kabineta za svoj rad odgovaraju Općinskom načelniku.

      </p>
      <p>
        Broj savjetnika Općinskog načelnika, opis poslova i uslovi za prijem i obavljanje poslova, utvrđuje se Pravilnikom o unutrašnjoj organizaciji Općinskog organa uprave. 


      </p>
    </div>
  </div>
</div>
{% endblock %}
