{% extends "zaposlenici/base.html" %} {% block content %}
<div class="container mt-4">
  <div class="row">
    <h3>Služba za opću upravu i društvene djelatnosti</h3>
    <div class="col-sm-8">
      <p class="col-sm-4">Služba se sastoji od četiri odsjeka:</p>
      <ul>
        <li>Odsjek za upravu,</li>
        <li>Odsjek za društvene djelatnosti i zajedničke poslove,</li>
        <li>Odsjek za informatiku i IT,</li>
        <li>Odsjek za poslove i rad Općinskog vijeća</li>
      </ul>
    </div>
    <div class="col-sm-4">
      <div class="card bg-light mb-3" style="max-width: 20rem">
        <div class="card-header">Šef službe</div>
        <div class="card-body">
          <h4 class="card-title">Ime prezime, mag.pol.</h4>
          <p class="card-text">
            Rukovodilac službe 
            <p>E-mail: ime.prezime@velikakladusa.gov.ba</p>
            <p>Telefon: +387 37 770 000;</p> 
            <p>Lokal: 127</p>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
